* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', sans-serif;
}

/* -------------------- Nav --------------------*/

nav li {
    border:rgb(83, 225, 95);
    margin-top: 40px;
    margin-right: 120px;
    margin-left: 20px;
    border-width: 5px;
    border-style: dotted;
}

nav a {
    display:flex;
    font-size: 20px;
    text-decoration: underline;
}

nav p {
    margin: 10px;
}

header {
    font-size:20px;
    width: 100%;
}

header p {
    margin-top: 25px;
    display: inline-block;
    font-size: 25px;
}

header h2 {
    font-weight: bold;
    font-size: 35px;
    margin-right: 25px;
    margin-top: 20px;
    margin-left: 20px;
}

/* -------------------- body --------------------*/



a:link {
    color:rgb(83, 83, 83);
    text-decoration: none;
}

a:hover {
    opacity: .9;
}

.bodyMain {
    border:black;
    margin: 40px;
    border-width: 5px;
    border-style:solid;
    
}

.footer {
    padding: 20px;
    text-align: center;
    margin-top: 150px;
}

.footer h2 {
    font-size: 25px;
}

.images{
    height: 320px;
    width: 420px;
}

.name{
    margin-left: 50px;
}

@media screen and (max-width: 800px) {
    nav{
      font-size: 25px;
    }
  }
/* -------------------- Home Images --------------------*/

.allimages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ffdddd80;
}

.allimages h2 {
    font-weight: bold;
}

.allimages>div {
    margin:20px;
}


.allimages>div>div {
    position: relative;
    bottom: 90px;
    width: 200px;
    border:2px solid black;
    text-indent: 10px;
    background-color: #f0965280;
}

.allimages>div>a>img {
    border: 2px solid black;
}

.imagebox {
  opacity: 1;
  transition: 0.7s;
}

.imagebox:hover {
    opacity: .4;
    color: black;
    cursor: pointer;
}

.imageB {
    background-color: #f0965280;
}